In [1]:
print("I am Yeshwin Krishnamoorthy. I'm going to be a Data Science pro in 2025!")

I am Yeshwin Krishnamoorthy. I'm going to be a Data Science pro in 2025!

In [2]:
#Variables
a = 10
b = 15
print(a + b)

25

In [3]:
#Datatypes
a = 10
print(type(a))

<class 'int'>

In [4]:
b = "emc"
print(type(b))

<class 'str'>

In [5]:
#Operators -> + - & /
a = 10
b = 20
c = a + b
print(c)

30

In [10]:
#Casting
a = 10
b = 20
c + a + b
print(c)

30

In [11]:
a = "10"
b = "20"
c = a + b
print(c)

1020

In [12]:
a = int("10") #performing casting on a & b
b = int("20")
c = a + b
print(c)

30

In [13]:
a = 10
print(a)

10

In [14]:
a = input()
print(a)

30
30

In [15]:
a = input()
b = input()
c = a + b
print(c) # a is saved as "10" and b is saved as "20" instead of 10 & 20

10
20
1020

In [16]:
a = int(input())
b = int(input())
c = a + b
print(c) # a is saved as 10 and b as 20

10
20
30

In [18]:
#Get input for name and age. Print it.
name = input()
age = input()
print("My Name is:", name)
print("My age is:", age)

EMC
1
My Name is: EMC
My age is: 1

In [19]:
#Get input for variable name, age and address. Print it.
name = input()
age = input()
address = input()
print("My Name is:", name)
print("My Age is:", age)
print("My Address is:", address)

EMC
1
6 Village rock ln Apt 23 Natick MA 01760
My Name is: EMC
My Age is: 1
My Address is: 6 Village rock ln Apt 23 Natick MA 01760

In [21]:
#Get integer input for variables a,b,c. Multiply all 3 variables. Add all 3 variables. 
#Divide the multiplied values by added values. Print it.
a = int(input())
b = int(input())
c = int(input())
d = a * b * c
e = a + b + c
f = d/e
print(f)

2
3
4
2.6666666666666665

In [24]:
#Get input for variable name,score,department. Get score for 100. Divide 100/10.
name = input()
score = int(input())
department = input()
print("My Name is", name)
print("My Score is", score/10,"/10")
print("My Department is", department)

Aravind
78
Computer
My Name is Aravind
My Score is 7.8 /10
My Department is Computer

In [25]:
#if-else with Boolean values
if(True):
    print("Yes")
else:
    print("No")

Yes

In [26]:
if(False):
    print("Yes")
else:
    print("No")

No

In [27]:
if(false): #the first letter in false should be capital letter
    print("Yes")
else:
    print("No")

NameError: name 'false' is not defined

In [28]:
#Comparator operator
print("win" == "win")

True

In [29]:
print("win" == "Win")

False

In [30]:
print("win" == "winn")

False

In [31]:
rcb = "win"
if(rcb == "win"):
    print("Ee sala cup namde")
else:
    print("vazhakkam pola namakku cup illa")

Ee sala cup namde

In [33]:
rcb = "lose"
if(rcb == "win"):
    print("Ee sala cup namde")
else:
    print("vazhakkam pola namakku cup illa")

vazhakkam pola namakku cup illa

In [34]:
rcb = "Win"
if(rcb == "win"):
    print("Ee sala cup namde")
else:
    print("vazhakkam pola namakku cup illa")

vazhakkam pola namakku cup illa

In [35]:
#Get user input for variable Meghna. If Meghna == Died, print "Surya meets Priya", else "Surya weds Meghna"
meghna = input()
if (meghna == "Died"):
    print("Surya meets Priya")
else:
    print("Surya weds Meghna")

Died
Surya meets Priya

In [36]:
meghna = input()
if (meghna == "Died"):
    print("Surya meets Priya")
else:
    print("Surya weds Meghna")

Alive
Surya weds Meghna

In [37]:
meghna = input("dfsgfhgh")
if (meghna == "Died"):
    print("Surya meets Priya")
else:
    print("Surya weds Meghna")

dfsgfhghdied
Surya weds Meghna

In [38]:
meghna = input("dfsgfhgh")
if (meghna == "Died"):
    print("Surya meets Priya")
else:
    print("Surya weds Meghna")

dfsgfhghDied
Surya meets Priya

In [39]:
meghna = input("Meghna Died or Not?")
if (meghna == "Died"):
    print("Surya meets Priya")
else:
    print("Surya weds Meghna")

Meghna Died or Not?Died
Surya meets Priya

In [40]:
#if else exercises

In [52]:
#Get input for variable Mark. If Mark > 35, print pass, else print fail.

In [49]:
mark = input()
if(mark > 35):
    print("Pass")
else:
    print("Fail")

40

TypeError: '>' not supported between instances of 'str' and 'int'

In [50]:
mark = int(input())
if(mark > 35):
    print("Pass")
else:
    print("Fail")

40
Pass

In [51]:
mark = int(input())
if(mark > 35):
    print("Pass")
else:
    print("Fail")

34
Fail

In [57]:
#Get input for variable income. If income is greater than 7000, not eligible for scholarship, else scholarship is available.
income = int(input("Income:"))
if(income > 7000):
    print("Not eligible for Scholarship")
else:
    print("Scholarship is available")

Income:7200
Not eligible for Scholarship

In [58]:
income = int(input("Income:"))
if(income > 7000):
    print("Not eligible for Scholarship")
else:
    print("Scholarship is available")

Income:6700
Scholarship is available

In [59]:
a = 10
print(a / 2)

5.0

In [63]:
a = 14
print("Quotient:", a / 3)
print("Reminder:", a % 3)

Quotient: 4.666666666666667
Reminder: 2

In [67]:
#Get input for a number and check whether it is divisible by both 3 and 5 or not. 
#If yes then print the number is divisible by 3 and 5, else print the number is not divisible by 3 and 5.
number = int(input())
if(number % 3 == 0 and number % 5 == 0):
    print("The number is divisible by 3 and 5")
else:
    print("The number is not divisible by 3 and 5")

14
The number is not divisible by 3 and 5

In [68]:
number = int(input())
if(number % 3 == 0 and number % 5 == 0):
    print("The number is divisible by 3 and 5")
else:
    print("The number is not divisible by 3 and 5")

15
The number is divisible by 3 and 5

In [69]:
#Binary operators -> and, or, not

In [72]:
#Get input for a number and find if it is even or odd.
number = int(input("Enter a number: "))
if(number % 2 == 0):
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 55
The number is odd

In [73]:
number = int(input("Enter a number: "))
if(number % 2 == 0):
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 48
The number is even

In [91]:
#ifelse using elif
#Get input for score out of 100. If score is < 35 then print Poor Student. If score is >= 35 but < 70 then print Average Student
#If score >= 70 then print Good Student.
score = int(input("Enter the score out of 100: "))
if(score < 35):
    print("Poor Student")
elif(score >= 35 and score < 70):
    print("Average Student")
elif(score >= 70 and score < 100):
    print("Good Student")
else:
    print("Invalid Score")

Enter the score out of 100: 75
Good Student

In [92]:
score = int(input("Enter the score out of 100: "))
if(score < 35):
    print("Poor Student")
elif(score >= 35 and score < 70):
    print("Average Student")
elif(score >= 70 and score < 100):
    print("Good Student")
else:
    print("Invalid Score")

Enter the score out of 100: 69
Average Student

In [93]:
score = int(input("Enter the score out of 100: "))
if(score < 35):
    print("Poor Student")
elif(score >= 35 and score < 70):
    print("Average Student")
elif(score >= 70 and score < 100):
    print("Good Student")
else:
    print("Invalid Score")

Enter the score out of 100: 34
Poor Student

In [94]:
score = int(input("Enter the score out of 100: "))
if(score < 35):
    print("Poor Student")
elif(score >= 35 and score < 70):
    print("Average Student")
elif(score >= 70 and score < 100):
    print("Good Student")
else:
    print("Invalid Score")

Enter the score out of 100: 101
Invalid Score

In [85]:
number = int(input("Enter the number: "))
if(number % 3 == 0):
    print("The number is divisible by 3")
if(number % 5 == 0):
    print("The number is divisible by 5")
else:
    print("The number is neither divisible by 3 nor 5")

Enter the number: 14
The number is neither divisible by 3 nor 5

In [86]:
number = int(input("Enter the number: ")) #this is written wrongly
if(number % 3 == 0):
    print("The number is divisible by 3")
if(number % 5 == 0):
    print("The number is divisible by 5")
else:
    print("The number is neither divisible by 3 nor 5")

Enter the number: 12
The number is divisible by 3
The number is neither divisible by 3 nor 5

In [87]:
number = int(input("Enter the number: ")) #previous program is corrected by using elif.
if(number % 3 == 0):
    print("The number is divisible by 3")
elif(number % 5 == 0):
    print("The number is divisible by 5")
else:
    print("The number is neither divisible by 3 nor 5")

Enter the number: 12
The number is divisible by 3

In [88]:
number = int(input("Enter the number: "))
if(number % 3 == 0):
    print("The number is divisible by 3")
elif(number % 5 == 0):
    print("The number is divisible by 5")
else:
    print("The number is neither divisible by 3 nor 5")

Enter the number: 20
The number is divisible by 5

In [89]:
#in this case 15 is divisible by both 3 and 5. but since it passed the 1st if condition, only the 1st output is shown.
number = int(input("Enter the number: ")) 
if(number % 3 == 0):
    print("The number is divisible by 3")
elif(number % 5 == 0):
    print("The number is divisible by 5")
else:
    print("The number is neither divisible by 3 nor 5")

Enter the number: 15
The number is divisible by 3

In [90]:
#contrasting this to the previous one, here all if conditions are checked one by one 
#as opposed to elif where if the 1st if condition is True, it will exit.
number = int(input("Enter the number: ")) 
if(number % 3 == 0):
    print("The number is divisible by 3")
if(number % 5 == 0):
    print("The number is divisible by 5")
else:
    print("The number is neither divisible by 3 nor 5")

Enter the number: 15
The number is divisible by 3
The number is divisible by 5

In [96]:
#Make a mini calculator: Get input for 2 numbers a and b. Get input from user whether to add/subtract/multiple/divide.
#If user selects add, then add the 2 numbers and print the result.
print("Get the inputs:")
a = int(input("a: "))
b = int(input("b: "))
operation = input("Do you want to add/subtract/multiply/divide?")
if(operation == "add"):
    print(a + b)
elif(operation == "subtract"):
    print(a - b)
elif(operation == "multiply"):
    print(a * b)
elif(operation == "divide"):
    print(a / b)
else:
    print("Invalid operation")

Get the inputs:
a: 10
b: 12
Do you want to add/subtract/multiple/divide?add
22

In [99]:
print("Get the inputs:")
a = int(input("a: "))
b = int(input("b: "))
operation = input("Do you want to add/subtract/multiply/divide? ")
if(operation == "add"):
    print(a + b)
elif(operation == "subtract"):
    print(a - b)
elif(operation == "multiply"):
    print(a * b)
elif(operation == "divide"):
    print(a / b)
else:
    print("Invalid operation")

Get the inputs:
a: 20
b: 10
Do you want to add/subtract/multiple/divide? multiply
200

In [102]:
print("Get the inputs:")
a = int(input("a: "))
b = int(input("b: "))
operation = input("Do you want to add/subtract/multiply/divide? ")
if(operation == "add"):
    print(a + b)
elif(operation == "subtract"):
    print(a - b)
elif(operation == "multiply"):
    print(a * b)
elif(operation == "divide"):
    print(a / b)
else:
    print("Invalid operation")

Get the inputs:
a: 10
b: 2
Do you want to add/subtract/multiply/divide? multiple
Invalid operation

In [104]:
#Get an input for score percentage. Only if the percentage is > 70, get input for the name, department and location and print
#you are eligible. if not print you are not eligible.
score_pct = int(input("Get the score percentage: "))
if(score_pct > 70):
    name = input("Enter your name: ")
    department = input("Enter your department: ")
    location = input("Enter your location: ")
    print("You are eligible")
else:
    print("You are not eligible")

Get the score percentage: 71
Enter your name: Yeshwin
Enter your department: Math
Enter your location: Boston
You are eligible

In [106]:
score_pct = int(input("Get the score percentage: "))
if(score_pct > 70):
    name = input("Enter your name: ")
    department = input("Enter your department: ")
    location = input("Enter your location: ")
    print("You are eligible")
else:
    print("You are not eligible")

Get the score percentage: 70
You are not eligible

In [110]:
#nested if
#Get input for salary and age. If salary >= 20000 or age <= 25, get input for required loan amount. 
#if not print you are not eligible. if required loan amount <= 50000, print you are eligible for loan. if it is > 50000,
#print maximum loan amount is 50000.
salary = int(input("Enter your salary: "))
age = int(input("Enter your age: "))
if(salary >= 20000 or age <= 25):
    loan = int(input("Enter the loan amount: "))
    if(loan <= 50000):
        print("You are eligible for a loan")
    else:
        print("You are eligible for a loan, however the maximum loan amount is 50000")
else:
    print("You are not eligible")

Enter your salary: 22000
Enter your age: 30
Enter the loan amount: 29000
You are eligible for a loan

In [111]:
salary = int(input("Enter your salary: "))
age = int(input("Enter your age: "))
if(salary >= 20000 or age <= 25):
    loan = int(input("Enter the loan amount: "))
    if(loan <= 50000):
        print("You are eligible for a loan")
    else:
        print("You are eligible for a loan, however the maximum loan amount is 50000")
else:
    print("You are not eligible")

Enter your salary: 220000
Enter your age: 24
Enter the loan amount: 60000
You are eligible for a loan, however the maximum loan amount is 50000

In [112]:
salary = int(input("Enter your salary: "))
age = int(input("Enter your age: "))
if(salary >= 20000 or age <= 25):
    loan = int(input("Enter the loan amount: "))
    if(loan <= 50000):
        print("You are eligible for a loan")
    else:
        print("You are eligible for a loan, however the maximum loan amount is 50000")
else:
    print("You are not eligible")

Enter your salary: 15000
Enter your age: 27
You are not eligible

In [115]:
salary = int(input("Enter your salary: "))
age = int(input("Enter your age: "))
if(salary >= 20000 or age <= 25):
    loan = int(input("Enter the loan amount: "))
    if(loan <= 50000):
        print("You are eligible for a loan")
    else:
        print("You are eligible for a loan, however the maximum loan amount is 50000")
else:
    print("You are not eligible")

Enter your salary: 18000
Enter your age: 21
Enter the loan amount: 49999
You are eligible for a loan

In [118]:
#Get input for 5 subjects marks. Add all of it and find average. If average mark < 35, print "additional class is required".
#if not print "you are good to go".
a = int(input("Get the inputs for 1st subject mark: "))
b = int(input("Get the inputs for 2nd subject mark: "))
c = int(input("Get the inputs for 3rd subject mark: "))
d = int(input("Get the inputs for 4th subject mark: "))
e = int(input("Get the inputs for 5th subject mark: "))
f = a + b + c + d + e
average_mark = f / 5
if(average_mark < 35):
    print("additional class is required")
else:
    print("you are good to go")

Get the inputs for 1st subject mark: 45
Get the inputs for 2nd subject mark: 56
Get the inputs for 3rd subject mark: 60
Get the inputs for 4th subject mark: 25
Get the inputs for 5th subject mark: 35
you are good to go

In [119]:
a = int(input("Get the inputs for 1st subject mark: "))
b = int(input("Get the inputs for 2nd subject mark: "))
c = int(input("Get the inputs for 3rd subject mark: "))
d = int(input("Get the inputs for 4th subject mark: "))
e = int(input("Get the inputs for 5th subject mark: "))
f = a + b + c + d + e
average_mark = f / 5
if(average_mark < 35):
    print("additional class is required")
else:
    print("you are good to go")

Get the inputs for 1st subject mark: 35
Get the inputs for 2nd subject mark: 34
Get the inputs for 3rd subject mark: 33
Get the inputs for 4th subject mark: 29
Get the inputs for 5th subject mark: 15
additional class is required

In [120]:
#For loop

In [121]:
for i in "Apple": #i is the variable
    print(i)

A
p
p
l
e

In [122]:
for i in range(5):
    print(i)

0
1
2
3
4

In [123]:
for i in range(1,5):
    print(i)

1
2
3
4

In [128]:
#Print 2 table using for loop. Ex: 1x2=2, 2x2=4, 3x2=6.....10x2=20
for i in range(1,11):
    print(i, "x 2 =", i * 2)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [126]:
for i in range(1,11):
    print("emc")

emc
emc
emc
emc
emc
emc
emc
emc
emc
emc

In [127]:
for i in range(1,11):
    print("emc")
    print(i)

emc
1
emc
2
emc
3
emc
4
emc
5
emc
6
emc
7
emc
8
emc
9
emc
10

In [129]:
#Get the inputs for number a and b. Print the number between a and b.
a = int(input("Enter a: "))
b = int(input("Enter b: "))
for i in range(a+1,b):
    print(i)

Enter a: 8
Enter b: 15
9
10
11
12
13
14

In [135]:
#Print even number between 1 and 10.
for i in range(1,11):
    if(i%2 == 0):
        print(i)

2
4
6
8
10

In [144]:
#Count the number of even numbers between 1 to 10.
count = 0
for i in range(1,11):
    if(i%2 == 0):
        count += 1
print("Number of even numbers between 1 and 10:", count)

Number of even numbers between 1 and 10: 5

In [145]:
#Count the number of odd numbers between 1 to 10.
count = 0
for i in range(1,11):
    if(i%2 != 0):
        count += 1
print("Number of odd numbers between 1 and 10:", count)

Number of odd numbers between 1 and 10: 5

In [151]:
#Count the number of odd and even numbers between 1 and 10 and print it.
count_odd = 0
count_even = 0
for i in range(1,11):
    if(i%2 != 0):
        count_odd += 1
    else:
        count_even += 1
print("Number of odd numbers between 1 and 10:", count_odd)
print("Number of even numbers between 1 and 10:", count_even)

Number of odd numbers between 1 and 10: 5
Number of even numbers between 1 and 10: 5

In [153]:
#Count the numbers which are divisible by 3 and 5 within the range 1 to 100.
count = 0
for i in range(1,101):
    if(i%3 == 0 and i%5 == 0):
        count += 1
print("The count of numbers between 1-100 which are divisible by both 3 and 5:", count)

The count of numbers between 1-100 which are divisible by both 3 and 5: 6

In [157]:
#Write a program to compute the sum of the first 5 natural numbers
sum = 0
for i in range(1,6):
    sum += i
print("The sum of the first 5 natural numbers is:", sum)

The sum of the first 5 natural numbers is: 15

In [158]:
a = [1,2,3,4,5] #a is the list
for i in a:
    print(i)

1
2
3
4
5

In [161]:
a = []
a.append(10)
a.append(20)
a.append(30)
print(a)

[10, 20, 30]

In [162]:
a = []
a.append(10)
a.append(20)
a.append(30)
b = int(input())
a.append(b)
print(a)

5
[10, 20, 30, 5]

In [164]:
a = []
for i in range(10):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [165]:
a = []
for i in range(10):
    num = int(input())
    a.append(num)
print(a)

11
12
13
14
15
16
17
18
19
20
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [182]:
#Write a program to read 10 numbers from the keyboard and find their sum and average.
a = []
summ = 0
count = 0
print("Enter 10 numbers:")
for i in range(10):
    num = int(input("Enter number " + str(i+1) + " : "))
    a.append(num)
    summ += num
    count += 1
print("The entered numbers are:", a)
print("Sum of 10 numbers:", summ)
print("Average of 10 numbers:", summ/count)

Enter 10 numbers:
Enter number 1 : 1
Enter number 2 : 1
Enter number 3 : 1
Enter number 4 : 1
Enter number 5 : 1
Enter number 6 : 1
Enter number 7 : 1
Enter number 8 : 1
Enter number 9 : 1
Enter number 10 : 1
The entered numbers are: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Sum of 10 numbers: 10
Average of 10 numbers: 1.0

In [184]:
#Alternate solution
a = []
print("Enter 10 numbers:")
for i in range(10):
    num = int(input("Enter number " + str(i+1) + " : "))
    a.append(num)
print(a)

sum = 0
for i in a:
    sum += i
print("Sum of 10 numbers:", sum)

count = 0
for i in a:
    count += 1
print("Average of 10 numbers:", sum/count)

Enter 10 numbers:
Enter number 1 : 1
Enter number 2 : 1
Enter number 3 : 1
Enter number 4 : 1
Enter number 5 : 1
Enter number 6 : 1
Enter number 7 : 1
Enter number 8 : 1
Enter number 9 : 1
Enter number 10 : 1
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Sum of 10 numbers: 10
Average of 10 numbers: 1.0

In [238]:
#Write a program to display n terms of the natural numbers and their sum
a = []
sum = 0
n = int(input("Enter the n terms:"))
for i in range(n):
    a.append(i+1)
    sum += i
print("The first", str(n), "natural numbers are:", a)
print("The sum of these numbers is:", sum)

Enter the n terms:5
The first 5 natural numbers are: [1, 2, 3, 4, 5]
The sum of these numbers is: 10

In [236]:
#Write a program to display the cube of the number up to an integer.
cube = 0
n = int(input("Enter the number of terms: "))
for i in range(n):
    cube = (i+1)*(i+1)*(i+1)
    print("Number is:", str(i+1), "and the cube of", str(i+1), "is:", cube)

Enter the number of terms: 5
Number is: 1 and the cube of 1 is: 1
Number is: 2 and the cube of 2 is: 8
Number is: 3 and the cube of 3 is: 27
Number is: 4 and the cube of 4 is: 64
Number is: 5 and the cube of 5 is: 125

In [234]:
#Nested for loop
for i in range(1,6):
    for j in range(1,3):
        print(j, "Apple")

1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple

In [244]:
for i in range(1,3):
    print("Week:", i)
    for j in range(1,4):
        print("  Day:", j)

Week: 1
  Day: 1
  Day: 2
  Day: 3
Week: 2
  Day: 1
  Day: 2
  Day: 3

In [252]:
for i in range(5):
    print("*", end=",")

*,*,*,*,*,

In [253]:
for i in range(5):
    print("*", end="")

*****

In [264]:
for i in range(1,6):
    print()
    for j in range(1,i+1):
        print(j,end="")

1
12
123
1234
12345

In [265]:
for i in range(1,6):
    print()

In [266]:
for j in range(1,i+1):
        print(j,end="")

12345

In [272]:
for i in range(5):
    print()
    for j in range(1,i+1):
        print("*",end="")

*
**
***
****

In [273]:
#While loop

#While loop is usually used when the no. of iterations is unknown, as opposed to for loop when the no. of iterations is known.

In [277]:
i = 0
while(i == 0):
    print(i)
    i = 1

0

In [281]:
i = 1
while(i == 0):
    print(i)
    i = 2

In [282]:
i = 0
while(i == 1):
    print(i)
    i = 1

In [283]:
i=0
while(i == 0):
    print(i)
    i += 1

0

In [1]:
#i = 0 
#while(i == 0):
 #   print(i) # 0's will keep generating and will result in an infinite loop

In [285]:
i = 1 
while(i == 0):
    print(i) #no output is generated since 1st loop's condition (1 == 0) itself has failed

In [289]:
#Print a number from 1 to 5 using while loop
i = 1
while(i < 6):
    print(i)
    i += 1

1
2
3
4
5

In [291]:
a = []
i = 1
while(i < 6):
    a.append(i)
    print(a)
    i += 1

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [292]:
a = []
i = 1
while(i < 6):
    a.append(i)
    i += 1
print(a)

[1, 2, 3, 4, 5]

In [293]:
a = []
i = 10
while(i <= 200):
    a.append(i)
    i += 10
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [296]:
i = 10
while(i < 200):
    i += 10
print(i)

200

In [300]:
#Write a loop statement to print the following series: 10,20,30,40,50,60,....,200,
i = 10
while(i <= 200):
    print(i,end=",")
    i += 10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,

In [302]:
#Write a program to print the first 10 natural numbers
i = 1
while(i <= 10):
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [306]:
#Write a program to print the first 10 natural numbers in reverse order
i = 10
while(i >= 1):
    print(i, end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

In [307]:
i = 10
while(i >= 1):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [330]:
#Write a program to find the factorial of a number
i = int(input("Enter the number: "))
fact = 1
while(i >= 1):
    fact *= i
    i -= 1
print(fact)

Enter the number: 4
24

In [331]:
#Python collections (Arrays)

In [332]:
#List - a collection which is ordered and changable. 
#allows duplicate members. 
#any type of data can be stored.

#Functions related to list:
    #insert() -> syntax:list.insert(index position,value) -> inserting an element in a list
    #append() -> syntax:list.append(value) -> adding element at end of list
    #extend() -> syntax:list1.extend(list2) -> merging 2 lists
    #pop() -> syntax:list.pop(index position) -> removing element from a list
    
a = [1,2,3,4,5,6]
print(type(a))

<class 'list'>

In [333]:
print(a) #displaying the list

[1, 2, 3, 4, 5, 6]

In [334]:
a.append(7) #adding a value to the end of the list
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [335]:
a.append(True) #any type of data can be added
a.append("emc")
print(a)

[1, 2, 3, 4, 5, 6, 7, True, 'emc']

In [336]:
a.append(2) #adding a duplicate value
print(a)

[1, 2, 3, 4, 5, 6, 7, True, 'emc', 2]

In [337]:
print(a[1]) #displaying the 1st index position (index position starts from 0,1,2,...)

2

In [338]:
a.insert(0,11) #inserting value 11 at the 0th index position
print(a)

[11, 1, 2, 3, 4, 5, 6, 7, True, 'emc', 2]

In [339]:
a[8] = 23 #replacing 8th index position value (True -> 23)
print(a)

[11, 1, 2, 3, 4, 5, 6, 7, 23, 'emc', 2]

In [340]:
a.pop(6) #removes the 6th index position value
print(a)

[11, 1, 2, 3, 4, 5, 7, 23, 'emc', 2]

In [341]:
a.pop(12) #can't do this since there are less than 12 elements in the list

IndexError: pop index out of range

In [342]:
a.pop() #removes the last element in the list
print(a)

[11, 1, 2, 3, 4, 5, 7, 23, 'emc']

In [347]:
a

[11, 1, 2, 3, 4, 5, 7, 23, 'emc']

In [348]:
b = [12,23,45]

In [355]:
a.extend(b) #merging a with b and storing it in a
print(a)

[11, 1, 2, 3, 4, 5, 7, 23, 'emc', 12, 23, 45]

In [356]:
#Tuple - alows duplicate
#any type of data can be stored. 
#However unlike list, we cannot modify nor add/remove the tuple item once created.

In [357]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [358]:
a[0] = 10 #tuple cannot add elements once created
print(a)

TypeError: 'tuple' object does not support item assignment

In [359]:
print(type(a))

<class 'tuple'>

In [360]:
#A way to work thru adding elements is to convert tuple into a list
b = list(a)
print(a)
print(b)

(1, 2, 3, 4)
[1, 2, 3, 4]

In [361]:
b.pop()
print(b)

[1, 2, 3]

In [362]:
#Set - does not allow duplicates, duplicate elements will be removed. 
#any type of data can be stored. 
#sets are unordered.
#we cannot modify the set but add or remove elements

#Functions of set: 
    #add() -> syntax:set.add(value) -> equivalent of append() in a list
    #remove() -> syntax:list.remove(value) -> removes the elemebt corresponding to eh value given in the set
    #pop() -> syntax:list.pop(value) -> removes the 1st element in the set
    #update() ->syntax:list1.update(list2) -> merges 2 lists

In [363]:
a = {1,2,3,4,1} #the duplicate element 1 will be removed in the set
print(a)

{1, 2, 3, 4}

In [364]:
a[0] = 12 #element at the 0th index position cannot be modified.
print(a)

TypeError: 'set' object does not support item assignment

In [365]:
a.add(10) #adding element 10 at the end of the set
print(a)

{1, 2, 3, 4, 10}

In [366]:
a.remove(4)
print(a)

{1, 2, 3, 10}

In [367]:
a.pop() #removes the 0th index position element (1st element) in the set
print(a)

{2, 3, 10}

In [368]:
a.pop() 
print(a)

{3, 10}

In [369]:
a = {1,7,2,3,4} #sets are unordered
print(a)

{1, 2, 3, 4, 7}

In [370]:
print(a)

{1, 2, 3, 4, 7}

In [371]:
b = {20,21,22} #merging 2 sets and storing it in a
a.update(b)
print(a)

{1, 2, 3, 4, 20, 21, 7, 22}

In [372]:
print(a)

{1, 2, 3, 4, 20, 21, 7, 22}

In [373]:
#Dictionary - does not allow duplicate elements, will overide existing elements.
#any type of data can be stored (even list type).

#Functions of dictionary: 
    #keys() -> syntax:dictionary.keys() -> displays the dictionary column names
    #values() -> syntax:dictionary.values() -> displays the dictionary column values
    #update() -> syntax:dictionary.update(key value pair) -> updates the value in the dictionary
    #pop() -> syntax:dictionary.pop(key value pair) -> deletes the key value pairs in the dictionary
    #del -> syntax:del dictionary["column name"] -> deletes the key value pairs in the dictionary
    #clear() -> syntax:dictionary.clear() -> clears all the items in the dictionary
    #items() -> syntax:dictionary.items() -> displays all the key value pairs in the dictionary

In [374]:
a = {"name":"emc"} #this is referred to as key value pair
print(a)

{'name': 'emc'}

In [377]:
a = {"name":"emc",
    "age":33,
    "location":"boston",
    "students":["abc","xyz"]}
print(a)

{'name': 'emc', 'age': 33, 'location': 'boston', 'students': ['abc', 'xyz']}

In [379]:
print(a.keys())

dict_keys(['name', 'age', 'location', 'students'])

In [380]:
print(a.values())

dict_values(['emc', 33, 'boston', ['abc', 'xyz']])

In [381]:
a["age"] = 34 #modifying/update the age value
print(a)

{'name': 'emc', 'age': 34, 'location': 'boston', 'students': ['abc', 'xyz']}

In [382]:
a["color"] = "red" #a new key pair is added since it was not present in the created dictionary
print(a)

{'name': 'emc', 'age': 34, 'location': 'boston', 'students': ['abc', 'xyz'], 'color': 'red'}

In [383]:
a.update({"age":35}) #alternate method for updating age value
print(a)

{'name': 'emc', 'age': 35, 'location': 'boston', 'students': ['abc', 'xyz'], 'color': 'red'}

In [384]:
a.pop("age") #deleting age key value pair
print(a)

{'name': 'emc', 'location': 'boston', 'students': ['abc', 'xyz'], 'color': 'red'}

In [385]:
del a["location"] #alternate method for deleting key value pair
print(a)

{'name': 'emc', 'students': ['abc', 'xyz'], 'color': 'red'}

In [386]:
del a #deleted the complete dictionary
print(a)

NameError: name 'a' is not defined

In [388]:
a = {"name":"emc",
    "age":33,
    "location":"boston",
    "students":["abc","xyz"]}
print(a)

{'name': 'emc', 'age': 33, 'location': 'boston', 'students': ['abc', 'xyz']}

In [389]:
a.clear() #clear all items in the dictionary
print(a)

{}

In [390]:
a = {"name":"emc",
    "age":33,
    "location":"boston",
    "students":["abc","xyz"]}
print(a.items())

dict_items([('name', 'emc'), ('age', 33), ('location', 'boston'), ('students', ['abc', 'xyz'])])

In [391]:
#Functions in Python

In [392]:
def painter():
    print("Painting")

In [393]:
painter()

Painting

In [400]:
#Create a function called add(), sub(), mul(), div() and get the input a and b inside every function then print the result.
def add():
    print("Addition:")
    a = int(input("Enter a:"))
    b = int(input("Enter b:"))
    print("Addition of a and b is", a + b)

In [401]:
print("ok")

ok

In [402]:
print("ok")
add()

ok
Addition:
Enter a:5
Enter b:4
Addition of a and b is 9

In [403]:
def sub():
    print("Subtraction:")
    a = int(input("Enter a:"))
    b = int(input("Enter b:"))
    print("Subtraction of a and b is", a - b)

In [404]:
sub()

Subtraction:
Enter a:5
Enter b:4
Subtraction of a and b is 1

In [405]:
def mul():
    print("Multiplication:")
    a = int(input("Enter a:"))
    b = int(input("Enter b:"))
    print("Multiplication of a and b is", a * b)
mul()

Multiplication:
Enter a:5
Enter b:4
Multiplication of a and b is 20

In [406]:
def div():
    print("Division:")
    a = int(input("Enter a:"))
    b = int(input("Enter b:"))
    print("Division of a and b is", a / b)
div()

Division:
Enter a:20
Enter b:4
Division of a and b is 5.0

In [411]:
def painter():
    print("Message")

In [412]:
painter()

Message

In [413]:
painter("Paint my house")

TypeError: painter() takes 0 positional arguments but 1 was given

In [414]:
painter()
painter("Paint my house")

Message

TypeError: painter() takes 0 positional arguments but 1 was given

In [417]:
def painter(msg): #painter() is the parameterized function, msg is the parameter/argument
    print("Message:", msg*2)

In [418]:
painter("Paint my house")

Message: Paint my housePaint my house

In [421]:
#Get an integer from user and pass it to the function called findevenorodd(). 
#Let the function print whether the number is even or odd.
def findevenorodd(a):
    if (a%2 == 0):
        print("Even number")
    else:
        print("Odd number")

In [423]:
findevenorodd(5)

Odd number

In [424]:
findevenorodd(12)

Even number

In [427]:
def funn(b):
    print(b*2)

In [428]:
funn(16)

32

In [429]:
a = int(input("Enter a: "))
findevenorodd(a)

Enter a:6
Even number

In [434]:
#Get an integer number from user and pass it to the function called findevenorodd(). 
#Let the function print whether the number is less than or greater than 35. fail -> less than 35, if not pass.
def findpassorfail(a):
    if (a < 35):
        print("Fail")
    elif (a >= 35 and a <= 100):
        print("Pass")
    else:
        print("Invalid number")

In [435]:
b = int(input("Enter any integer between 0 and 100: "))
findpassorfail(b)

Enter any integer between 0 and 100: 56
Pass

In [432]:
c = int(input("Enter any integer between 0 and 100: "))
findpassorfail(c)

Enter any integer between 0 and 100: 34
Fail

In [436]:
d = int(input("Enter any integer between 0 and 100: "))
findpassorfail(d)

Enter any integer between 0 and 100: 101
Invalid number

In [437]:
def printrange():
    for i in range(1, 10):
        print(i)
printrange()

1
2
3
4
5
6
7
8
9

In [441]:
#Get input for a and b and pass it to the function called printrange(). Let the function print numbers from a to b.
def printrange(a,b):
    for i in range(a, b):
        print(i)

In [444]:
x = int(input("Enter a: "))
y = int(input("Enter b: "))
print("Numbers between a and b are:")
printrange(x,y)

Enter a: 6
Enter b: 8
Numbers between a and b are:
6
7

In [445]:
printrange(1,8)

1
2
3
4
5
6
7

In [447]:
#Return keyword

In [448]:
def painter():
    print("I am painter")

In [449]:
painter()

I am painter

In [450]:
def painter():
    return "I am painter"

In [451]:
painter()

'I am painter'

In [452]:
def valueofa():
    return 10

In [454]:
a = valueofa()
print(a)

10

In [455]:
#Set s_username="EMC", s_password="123". Get input for uname and password and create a function called validate. 
#If uname and password match, the function should return True else False.
s_username = "EMC"
s_password = "123"
uname = input("Enter the username: ")
password = input("Enter the password: ")
def validate():
    if (s_username == uname and s_password == password):
        return True
    else:
        return False

Enter the username: 546
Enter the password: 588

In [456]:
validate()

False

In [459]:
s_username = "EMC"
s_password = "123"
uname = input("Enter the username: ")
password = input("Enter the password: ")
def validate():
    if (s_username == uname and s_password == password):
        return True
    else:
        return False
validate()

Enter the username: EMC
Enter the password: 123

True

In [460]:
#Get input for a and b and function called add() which should return sum of a and b and multiply with c aka (a+b)*c
def add(n1, n2):
    return n1 + n2

In [464]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
added = add(a,b)
output = added * c
print(output)

Enter a: 10
Enter b: 20
Enter c: 10
300

In [465]:
#Classes and objects

In [466]:
#Class ->  a set of functions and variables
#Classes objects are reusable, thus very efficient and will save a lot of redundant code

In [467]:
class goa: #goa is the class
    drink = "" #drink is the variable
    def party(self): #party is the function
        print("Let's Party....")
    def beach(self):
        print("Enjoying the beach")

ramesh = goa() #the object(ramesh) corresponding to the class(goa) is created
suresh = goa()

ramesh.party() #object calling the function
suresh.beach()

Let's Party....
Enjoying the beach

In [468]:
ramesh.beach()
suresh.party()

Enjoying the beach
Let's Party....

In [470]:
class goa:
    name = "dffgh"
    drink = ""
    def party(self):
        print("Let's Party....")
    def beach(self):
        print("Enjoying the beach")

ramesh = goa()
suresh = goa()  

print(ramesh.name)

dffgh

In [471]:
class goa:
    name = "dffgh"
    drink = ""
    def party(self):
        print("Let's Party....")
    def beach(self):
        print("Enjoying the beach")

ramesh = goa()
suresh = goa() 

ramesh.name="Ramesh" #setting variable(name) for object(ramesh) in class(goa) as Ramesh
print(ramesh.name)

Ramesh

In [472]:
ramesh.name

'Ramesh'

In [473]:
print(suresh.name)

dffgh

In [474]:
suresh.name="Suresh"
print(suresh.name)

Suresh

In [478]:
class goa:
    name = "dffgh"
    drink = ""
    def party(self):
        print("Let's Party....")
    def beach(self):
        print("Enjoying the beach")

ramesh = goa()
suresh = goa()

ramesh.name="Ramesh"
ramesh.drink="yes"
suresh.name="Suresh"
suresh.drink="no"

print(ramesh.name)
print("drink:", ramesh.drink)
print(suresh.name)
print("drink:", suresh.drink)

ramesh.party()
suresh.beach()

Ramesh
drink: yes
Suresh
drink: no
Let's Party....
Enjoying the beach

In [489]:
#Create a class called laptop and create the following variables and objects.
#variables -> Price, Processor, Ram
#Objects -> HP, DELL, LENOVO

class laptop:
    Price = 0
    Processor = ""
    Ram = ""

HP = laptop()
DELL = laptop()
LENOVO = laptop()

HP.Price = 40000
HP.Processor = "Intel Core i3"
HP.Ram = "8GB"

DELL.Price = 50000
DELL.Processor = "Intel Core i5"
DELL.Ram = "16GB"

LENOVO.Price = 60000
LENOVO.Processor = "Intel Core i7"
LENOVO.Ram = "12GB"

print("HP's specs -> ", "Price:", HP.Price, "  ", "Processor name:", HP.Processor, "  ", "Ram memory storage:", HP.Ram)
print("DELL's specs -> ", "Price:", DELL.Price, "  ", "Processor name:", DELL.Processor, "  ", "Ram memory storage:", DELL.Ram)
print("LENOVO's specs -> ", "Price:", LENOVO.Price, "  ", "Processor name:", LENOVO.Processor, "  ", "Ram memory storage:", LENOVO.Ram)

HP's specs ->  Price: 40000    Processor name: Intel Core i3    Ram memory storage: 8GB
DELL's specs ->  Price: 50000    Processor name: Intel Core i5    Ram memory storage: 16GB
LENOVO's specs ->  Price: 60000    Processor name: Intel Core i7    Ram memory storage: 12GB

In [490]:
class laptop():
    def display(self):
        print("Display")

hp = laptop()
hp.display()

Display

In [493]:
class laptop():
    def __init__(self): #Python's in-built constructor
        print("demo")
    def display(self): #self is added to denote the object's instance
        print("Display")

hp = laptop() #constructor wil get automatically called and displays the output of the constructor(demo)

demo

In [494]:
#Constructor -> a unique function that gets called automatically when an object is created out of a class
#Constructor will decide how much memory needs to be allocated in a class
#The main purpose of a constructor is to initialize or assign values to the data members of that class

In [496]:
class laptop():
    price = 0
    ram = ""
    def __init__(self): #Python's in-built constructor
        print("demo")
    def display(self):
        print("Display")

hp = laptop()
hp.price = 50000
print(hp.price)

demo
50000

In [498]:
#Leveraging constructor's functionality to modify the above program
class laptop():
    def __init__(self):
        self.price = 0
        self.ram = ""
        self.processor = ""
    def display(self):
        print("Display")

hp = laptop()
hp.price = 50000
hp.ram = "8GB"
hp.processor = "i5"

print(hp.price)
print(hp.ram)

50000
8GB

In [499]:
class laptop():
    def __init__(self):
        self.ram = ""
        self.processor = ""
    def display(self):
        print("Ram:", self.ram)
        print("Processor:", self.processor)

hp = laptop()

hp.ram = "8GB"
hp.processor = "i5"

hp.display()

Ram: 8GB
Processor: i5

In [500]:
class laptop:

SyntaxError: incomplete input (2696252671.py, line 1)

In [501]:
class laptop:
    pass

In [502]:
#Create a class called student. Create variables - name and register number using constructor.
#Create a function called display which should display the name and register number of the student

class student():
    def __init__(self):
        self.name =""
        self.reg_num = ""
    def display(self):
        print("Name:", self.name)
        print("Register Number:", self.reg_num)

s1 = student()
s1.name = "abc"
s1.reg_num = "01"

s1.display()

Name: abc
Register Number: 01

In [504]:
s2 = student()
s2.name = "xyz"
s2.reg_num = "02"

s2.display()

Name: xyz
Register Number: 02

In [510]:
#Create a class called Fruit. Create a variable called color using __init__ method. Create an object called apple and pass the 
#color variable as a parameter through object
class Fruit:
    def __init__(self):
        self.color = "red"

apple = Fruit("black")
print(apple.color)

TypeError: Fruit.__init__() takes 1 positional argument but 2 were given

In [515]:
class Fruit:
    def __init__(self,col):
        self.color = col

apple = Fruit("black")
print(apple.color)

black

In [524]:
#Create a class called teacher. Create variables -> name and register number using constructor. 
#Create a function called display which should display the name and register number of the teacher.
#Create t1 and t2 as objects and pass the name and register number through objects.
class teacher:
    def __init__(self,nam,reg):
        self.name = nam
        self.reg_num = reg
    def display(self):
        print("Name:", self.name)
        print("Register Number:", self.reg_num)

t1 = teacher("abc","01")
t2 = teacher("xyz","02")

t1.display()
t2.display()

Name: abc
Register Number: 01
Name: xyz
Register Number: 02

In [531]:
#Create a class called calculator. Create 2 variables a and b. Create functions add(),sub(),mul(),div(), all functions should 
#take 2 variables as paramater. Pass a and b value through object.

class calculator:
    def __init__(self,x,y):
        self.a = x
        self.b = y
    def add(self):
        print("Addition of a and b is: ", self.a + self.b)
    def sub(self):
        print("Subtraction of a and b is: ", self.a - self.b)
    def mul(self):
        print("Multiplication of a and b is: ", self.a * self.b)
    def div(self):
        print("Division of a and b is: ", self.a / self.b)

c = calculator(10,12)
c.add()

d = calculator(9,2)
d.sub()

e = calculator(6,3)
e.mul()

f = calculator(20,3)
f.div()

Addition of a and b is:  22
Subtraction of a and b is:  7
Multiplication of a and b is:  18
Division of a and b is:  6.666666666666667

In [534]:
#Alternate and simpler method
class calculator:
    def add(self,a,b):
        print("Addition of a and b is: ", a + b)
    def sub(self,a,b):
        print("Subtraction of a and b is: ", a - b)
    def mul(self,a,b):
        print("Multiplication of a and b is: ", a * b)
    def div(self,a,b):
        print("Division of a and b is: ", a / b)

c = calculator()
c.add(10,12)

d = calculator()
d.sub(9,2)

e = calculator()
e.mul(6,3)

f = calculator()
f.div(20,3)

Addition of a and b is:  22
Subtraction of a and b is:  7
Multiplication of a and b is:  18
Division of a and b is:  6.666666666666667

In [535]:
#Types of variables in class - instance variable and class variable

In [537]:
class phone:
    def __init__(self,brand,price,chargertype):
        self.brand = brand #self.brand is the instance variable, which are part of a constructor
        self.price = price
        self.chargertype = chargertype
    def display(self):
        print("Brand:", self.brand)
        print("Price:", self.price)
        print("Charger Type:", self.chargertype)

samsung = phone("Samsung","10000","B-Type")
samsung.display()

redmi = phone("Redmi","5000","C-Type")
redmi.display()

Brand: Samsung
Price: 10000
Charger Type: B-Type
Brand: Redmi
Price: 5000
Charger Type: C-Type

In [539]:
class phone: 
    chargertype = "C-Type" #chargertype is the class variable, since all phones are going to be C-Type and 
    def __init__(self,brand,price): #there's no need of creating a seperate instance variable
        self.brand = brand 
        self.price = price
    def display(self):
        print("Brand:", self.brand)
        print("Price:", self.price)
        print("Charger Type:", self.chargertype)

samsung = phone("Samsung","10000")
samsung.display()

redmi = phone("Redmi","5000")
redmi.display()

Brand: Samsung
Price: 10000
Charger Type: C-Type
Brand: Redmi
Price: 5000
Charger Type: C-Type

In [540]:
class phone: 
    chargertype = "C-Type" #chargertype is the class variable, since all phones are going to be C-Type and 
    def __init__(self,brand,price): #there's no need of creating a seperate instance variable
        self.brand = brand 
        self.price = price
    def display(self):
        print("Brand:", self.brand)
        print("Price:", self.price)
        print("Charger Type:", self.chargertype)

samsung = phone("Samsung","10000")
samsung.display()

redmi = phone("Redmi","5000")
redmi.display()

phone.chargertype = "B-Type" #changing class variable for google phone only

google = phone("Google","50000")
google.display()

Brand: Samsung
Price: 10000
Charger Type: C-Type
Brand: Redmi
Price: 5000
Charger Type: C-Type
Brand: Google
Price: 50000
Charger Type: B-Type

In [541]:
#Types of class methods(functions)

In [547]:
class laptop:
    chargertype = "C-Type"
    
    def __init__(self):
        self.brand = ""
        self.price = 34
    
    def setPrice(self,price):
        self.price = price
    
    def getPrice(self):
        print(self.price)

hp = laptop()
hp.getPrice()

34

In [548]:
class laptop:
    chargertype = "C-Type"
    
    def __init__(self):
        self.brand = ""
        self.price = 34
    
    def setPrice(self,price):
        self.price = price
    
    def getPrice(self):
        print(self.price)

hp = laptop()
hp.setPrice(20000)
hp.getPrice()

20000

In [551]:
class laptop:
    chargertype = "C-Type"
    
    def __init__(self):
        self.brand = ""
        self.price = 34
    
    def setPrice(self,price):
        self.price = price
    
    def getPrice(self):
        print(self.price)
           
    def changeChargerType(cls):
        cls.chargertype = "B-Type"
        print("Charger Type changed to B")

hp = laptop()
hp.setPrice(20000)
hp.getPrice()

laptop.changeChargerType()

20000

TypeError: laptop.changeChargerType() missing 1 required positional argument: 'cls'

In [552]:
class laptop:
    chargertype = "C-Type"
    
    def __init__(self):
        self.brand = ""
        self.price = 34
    
    def setPrice(self,price):
        self.price = price
    
    def getPrice(self):
        print(self.price)
        
        
    @classmethod    #using decorator
    def changeChargerType(cls):
        cls.chargertype = "B-Type"
        print("Charger Type changed to B")

hp = laptop()
hp.setPrice(20000)
hp.getPrice()

laptop.changeChargerType()

20000
Charger Type changed to B

In [555]:
class laptop:
    chargertype = "C-Type"
    
    def __init__(self):
        self.brand = ""
        self.price = 34
    
    def setPrice(self,price):
        self.price = price
    
    def getPrice(self): #uses instance method
        print(self.price)
        
        
    @classmethod    #uses class method as a decorator
    def changeChargerType(cls):
        cls.chargertype = "B-Type"
        print("Charger Type changed to B")

    @staticmethod    #uses static method as a decorator
    def info():
        print("This is laptop class")
        
hp = laptop()
hp.setPrice(20000)
hp.getPrice()

laptop.changeChargerType()
hp.info()

20000
Charger Type changed to B
This is laptop class

In [ ]:
#Inheritance and its types

In [556]:
#Inheritance -> if all the components in one class can be used by another class

#Types of inheritance: single, multiple, multi-level, hierarchical, hybrid(combination of other types)

In [558]:
class dad:
    def phone(self):
        print("Dad's Phone")

class son:
    def laptop(self):
        print("Son's Laptop")

ram = son()
ram.laptop()
ram.phone()

Son's Laptop

AttributeError: 'son' object has no attribute 'phone'

In [562]:
class dad():
    def phone(self):
        print("Dad's Phone")

class son(dad): #single inheritance
    def laptop(self):
        print("Son's Laptop")

ram = son()
ram.laptop()
ram.phone()

Son's Laptop
Dad's Phone

In [563]:
class dad():
    def phone(self):
        print("Dad's Phone")

class mom():
    def sweet(self):
        print("Mom's sweet")

class son(dad):
    def laptop(self):
        print("Son's Laptop")

ram = son()
ram.phone()
ram.sweet()

Dad's Phone

AttributeError: 'son' object has no attribute 'sweet'

In [564]:
class dad():
    def phone(self):
        print("Dad's Phone")

class mom():
    def sweet(self):
        print("Mom's sweet")

class son(dad,mom): #multiple inheritance since son can inherit dad and mom's functions
    def laptop(self):
        print("Son's Laptop")

ram = son()
ram.phone()
ram.sweet()

Dad's Phone
Mom's sweet

In [570]:
class grandpa:
    def phone(self):
        print("grandpa phone")

class dad(grandpa):#multi-level inheritance, son inherits dad's money, dad inherits grandpa phone
    def money(self):
        print("Dad's Money")

class son(dad):
    def laptop(self):
        print("Sons laptop")

ram = son()
ram.laptop()
ram.money()

d1 = dad()
d1.phone()

ram.phone()

Sons laptop
Dad's Money
grandpa phone
grandpa phone

In [572]:
class dad():
    def money(self):
        print("dad's money")

class land():
    def importance(self):
        print("important land")
        
class son1(dad,land): #heirarchical inheritance
    pass #empty class is created
    
class son2(dad):
    pass

class son3(dad):
    pass

s2 = son2()
s2.money()

dad's money

In [573]:
#Super keyword in Python

In [579]:
class a():
    def __init__(self):
        print("A")
        
    def display(self):
        print("you are in class a")

class b():
    def __init__(self):
        print("B")
        
    def display(self):
        print("you are in class b")

ob1 = a()
ob2 = b()

A
B

In [585]:
class a():
    def __init__(self):
        print("A")
        
    def display(self):
        print("you are in class a")

class b(a):
        
    def display(self):
        print("you are in class b")

ob2 = b()

A

In [586]:
class a():
    def __init__(self):
        print("A")
        
    def display(self):
        print("you are in class a")

class b(a):
    def __init__(self):
        super().__init__() #can access everything in parent class
        print("B")
        
    def display(self):
        print("you are in class b")

ob2 = b()

A
B

In [587]:
#super is used for calling all objects of a parent class

In [589]:
class a():
    def __init__(self):
        print("A")
        
    def display(self):
        print("you are in class a")

class b(a):
    def __init__(self):
        super().__init__() #can access everything in parent class
        print("B")
        
    def display(self):
        print("you are in class b")

class c():
    def __init__(self):
        print("C")
        
    def display(self):
        print("you are in class c")    
    
ob3 = c()

C

In [592]:
class a():
    def __init__(self):
        print("A")
        
    def display(self):
        print("you are in class a")

class b():
    def __init__(self):
        super().__init__()
        print("B")
        
    def display(self):
        print("you are in class b")

class c(a,b): #for multiple inheritance, only the 1st class in parentheses can be called
    def __init__(self):
        super().__init__()
        print("C")
        
    def display(self):
        print("you are in class c")    
    
ob3 = c()

A
C

In [593]:
class a():
    def __init__(self):
        print("A")
        
    def display(self):
        print("you are in class a")

class b():
    def __init__(self):
        super().__init__()
        print("B")
        
    def display(self):
        print("you are in class b")

class c(b,a):
    def __init__(self):
        super().__init__()
        print("C")
        
    def display(self):
        print("you are in class c")    
    
ob3 = c()

A
B
C

In [594]:
#Polymorphism

In [596]:
def add():
    print("adddd")
add()

adddd

In [597]:
def add(a,b):
    print(a+b)
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [600]:
def add(a,b,c):
    print(a+b-c)
add(10,20)

TypeError: add() missing 1 required positional argument: 'c'

In [601]:
def add(a,b,c=0):
    print(a+b-c)
add(10,20)

30

In [603]:
def add(a=10):
    print(a)
add(50)

50

In [605]:
def add(a,b,c=0):
    print(a+b-c)
add(1,2)
add(1,2,4) #c=3 instead of c=0, hence 1+2-4 = -1

3
-1

In [606]:
#The word polymorphism means having many forms. In programming, polymorphism means the same function name 
#(but different signatures) being used for differenct types. The key difference is the data types and number of arguments
#used in function.
#poly - multiple, morph - change into different form

In [611]:
#Create a class called Animal with a method sound() that prints "Animal makes a sound."
#Create a derived class called Dog that inherits from Animal and overrides the sound() method to print "Dog barks".
#Create another derived class called Bird that inherits from Animal and overrides the sound() method to print "Birds Sing".

class Animal():
    def sound(self):
        print("Animal makes a sound.")
    
class Dog(Animal): 
    def sound(self): #method overriding
        print("Dog barks.")
    
class Bird(Animal):
    def sound(self): #method overriding
        print("Birds Sing.")
        
a1 = Animal()
a1.sound()

d1 = Dog()
d1.sound()

b1 = Bird()
b1.sound()

Animal makes a sound.
Dog barks.
Birds Sing.

In [614]:
#Create a base class called Shape with a method area() that returns 0. Create a derived class called Rectangle that inherits
#from Shape and overrides the area() method to calculate and return the area of a rectangle.

class Shape():
    def area(self):
        return 0

class Rectangle(Shape):
    def area(self):
        l = 10
        b = 20
        print(l * b)
    
s1 = Shape()
s1.area()

r1 = Rectangle()
r1.area()

200

In [625]:
#Create a base class called Person with a constructor that takes name as a parameter. Create a derived class called Student that
#inherits from Person and has a constructor that takes a parameter called grade. Write a method in Student to display the name 
#and grade of the student. Use Super keyword to achieve this.

class Person():
    def __init__(self,name):
        self.name = name

class Student(Person):
    def __init__(self,name,grade):
        super().__init__(name)
        self.grade = grade
        
    def display(self):
        print(self.name, self.grade)

s1 = Student("John","A")

s1.display()

John A

In [628]:
#Create a base class called Vehicle with a method start() that prints "Vehicle started". Create a derived class called Car that
#inherits from Vehicle and overrides the start() method to print "Car started".

class Vehicle():
    def start(self):
        print("Vehicle started")

class Car(Vehicle):
    def start(self):
        print("Car started")

v1 = Vehicle()
v1.start()

c1 = Car()
c1.start()

Vehicle started
Car started

In [649]:
#Create a base class called Employee with properties name and salary. Create a derived class called Manager that inherits from
#Employee and adds a property department. Write a method in Manager to display the name, salary and department of the manager.

class Employee():
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary

class Manager(Employee):
    def __init__(self,name,salary,department):
        super().__init__(name,salary)
        self.department = department
    
    def display(self):
        print(self.name, self.salary, self.department)
        
m1 = Manager("dc","40000","dc")
m1.display()

dc 40000 dc

In [645]:
#Encapsulation & Access modifiers

In [650]:
class company():
    def __init__(self):
        self.companyName = "Google"

c1 = company()
c1.companyName = "Apple"
print(c1.companyName)

Apple

In [658]:
class company():
    def __init__(self):
        self.__companyName = "Google" #converted to private variable, can only be accessed by method(companyName) within class

    def companyName(self):
        print(self._companyName)
        
c1 = company()
c1.companyName()
print(c1._companyName)

AttributeError: 'company' object has no attribute '_companyName'

In [662]:
class company():
    def __init__(self):
        self._companyName = "Google" #converted to private variable, can only be accessed by method within class or child class

class b(company):
    pass

b1 = b()
print(b1._companyName)

Google
Google

In [ ]:
#Encapsulation -> hiding variables/functions to restrict access and hide data

In [664]:
#Types of errors -> Compile time error, logical error, runtime error

In [666]:
print("Hi")
print("Bye")
printt("Hey") #name error, this is a compile time error since it occurs during compilation

Hi
Bye

NameError: name 'printt' is not defined

In [667]:
a = 10
b = 20
print(a+a) #logical error

20

In [668]:
a = int(input())
b = int(input())
print(a+b) #during output, entering wrong datatype; this is called runtime error

10
hi

ValueError: invalid literal for int() with base 10: 'hi'

In [669]:
#Exception(Error) Handling -> to avoid error, we go for exception handling

In [670]:
try:
    a = int(input())
    b = int(input())
    print(a+b)
except Exception:
    print("Something")

10
20
30

In [671]:
try:
    a = int(input())
    b = int(input())
    print(a+b)
except Exception:
    print("Something")

10
hi
Something

In [672]:
try:
    a = int(input())
    b = int(input())
    print(a+b)
except Exception as e:
    print("Something", e)

10
hi
Something invalid literal for int() with base 10: 'hi'

In [674]:
try:
    a = input()
    b = input()
    print(a/b)
except Exception as e:
    print("Something",e)

hi
bye
Something unsupported operand type(s) for /: 'str' and 'str'

In [675]:
a = int(input())

hi

ValueError: invalid literal for int() with base 10: 'hi'

In [676]:
try:
    a = int(input())
except ValueError as e:
    print("Value Error", e)

hi
Value Error invalid literal for int() with base 10: 'hi'

In [677]:
try:
    a = int(input())
    b = int(input())
    c = input()
    print(c/a)
except ValueError as e:
    print("Value Error", e)

10
20
hi

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [679]:
try:
    a = int(input())
    b = int(input())
    c = input()
    print(c/a)
except ValueError as e:
    print("Value Error", e)
except TypeError as e:
    print("Type Error", e)

10
20
hi
Type Error unsupported operand type(s) for /: 'str' and 'int'

In [682]:
try:
    a = int(input())
    b = int(input())
    c = input()
    print(asd)
except ValueError as e:
    print("Value Error", e)
except TypeError as e:
    print("Type Error", e)

10
20
hi

NameError: name 'asd' is not defined

In [683]:
try:
    a = int(input())
    b = int(input())
    c = input()
    print(asd)
except ValueError as e:
    print("Value Error", e)
except TypeError as e:
    print("Type Error", e)
except Exception:
    print("Something Wrong")

10
20
hi
Something Wrong

In [686]:
try:
    a = int(input())
    b = int(input())
except ValueError as e:
    print("Value Error", e)
except TypeError as e:
    print("Type Error", e)
except Exception:
    print("Something Wrong")
finally:
    print("Done")

10
hi
Value Error invalid literal for int() with base 10: 'hi'
Done

In [687]:
#File Handling